/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --raspberry: #FF0070;

  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: var(--raspberry);
  --section-title-color: var(--raspberry);
  --header-and-footer-title: #DB00FF;
  --hover-button-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header {
  background-image: url("../images/cover-image-dark.png");
}