/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --dark-color: #353430;

  --background-image: url("../images/cover-image-light.png");
  --header-and-footer-title: #FFC2E6;
  --background-color: rgba(255, 241, 247, 1);
  --text-color: var(--dark-color);
  --accent-color: rgba(255, 141, 203, 1);
  --section-title-color: var(--dark-color);
  --hover-button-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__title {
  text-shadow: 4px 4px 0px #FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .title-decor {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-color: #353430;

    --header-and-footer-title: #FFC2E6;
    --background-color: rgba(255, 241, 247, 1);
    --text-color: var(--dark-color);
    --accent-color: rgba(255, 141, 203, 1);
    --section-title-color: var(--dark-color);
    --hover-button-color: rgba(50, 49, 45, 0.4);
  }

  .header {
    background-image: url("../images/cover-image-light.png");
  }

  .header__title {
    text-shadow: 4px 4px 0px #FF8DCB;
  }

  .header__theme-menu {
    color: var(--dark-color);
  }

  .header__rec {
    display: none;
  }

  .title-decor {
    color: var(--text-color);
  }
}