/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family), serif;
  font-size: var(--font-size);
  font-weight: normal;
  line-height: var(--line-height);
  position: relative;
  background-attachment: fixed;  /* Тесты в гитхабе попросили добавить */
}

.header {
  display: grid;
  grid-template-rows: 25px repeat(3, 1fr) 25px;
  background-image: url('../images/cover-image-dark.png');
  padding: var(--global-padding);
  height: 100vh;
  margin-bottom: var(--margin-after-header);
}

.header::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  align-self: start;
  justify-self: end;
}

.header::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  align-self: end;
  justify-self: start;
}

.header__rec {
  position: absolute;
  top: 18px;
  right: 19px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__rec::before {
  content: 'rec';
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  right: 20px;
  top: -8px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
  line-height: 18px;
  position: relative;
  top: -10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  /*border: 1px solid var(--accent-color);  Только для активной ячейки*/
  width: 70px;
  height: 26px;
  text-align: center;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--header-and-footer-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: 116px;
  line-height: 83%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.header__description-block {
  justify-self: end;
  align-self: center;
  position: relative;
  top: 10px;
}

.header__description {
  block-size: fit-content;
  font-weight: bold;
}

.header__description + .header__description {
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 var(--global-padding);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
}

.section__block-title {
  margin-bottom: 10px;
}

.accent-word {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__note {
  font-weight: bold;
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--images-gap);
}

.section-with-images > .title-decor {
  margin-bottom: var(--images-gap);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: var(--margin-before-footer);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: var(--header-and-footer-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: 116px;
  font-weight: bold;
  line-height: 83%;
}

@media (width >= 768px) {
  :root {
    --global-padding: 20px;
    --images-gap: 20px;
    --margin-after-header: 60px;
    --margin-before-footer: 60px;
  }

  .section:first-child, .section:nth-child(3) {
    grid-template-columns: 1fr 2fr;
  }

  .section:first-child .section__block, .section:nth-child(3) .section__block {
    grid-column: 2;
  }

  .section:nth-child(3) .section__title {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
  }

  .image__sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .image__ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .image__tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .image__books {
    grid-column: 2;
    grid-row: 2;
  }

  .image__street {
    grid-column: 2/4;
    grid-row: 3;
  }
}

/*@media (width >= 1024px) {
}*/