/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family), serif;
  font-size: var(--font-size);
  font-weight: normal;
  line-height: var(--line-height);
  position: relative;
  background-attachment: fixed;  /* Тесты в гитхабе попросили добавить (чтобы фон оставался на месте при прокрутке страницы) */
}

.header {
  display: grid;
  grid-template-rows: 25px 1fr min-content 1fr 25px;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  padding: var(--global-padding);
  height: 100vh;
  margin-bottom: var(--margin-after-header);
}

.header::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-right: 1px solid var(--section-title-color);
  border-top: 1px solid var(--section-title-color);
  align-self: start;
  justify-self: end;
}

.header::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--section-title-color);
  border-bottom: 1px solid var(--section-title-color);
  align-self: end;
  justify-self: start;
}

.header__rec {
  position: absolute;
  top: calc(var(--global-padding) + 8px);
  right: calc(var(--global-padding) + 9px);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__rec::before {
  content: 'rec';
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  right: 20px;
  top: -8px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
  line-height: 18px;
  position: relative;
  top: -10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  text-align: center;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color);
  width: 70px;
  height: 26px;
  pointer-events: none;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-item:focus {
  outline: none;
}

.header__theme-menu-item:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--header-and-footer-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: 116px;
  line-height: 83%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.header__description-block {
  justify-self: end;
  align-self: center;
  position: relative;
  top: 12px;
}

.header__description {
  block-size: fit-content;
  font-weight: bold;
}

.header__description + .header__description {
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  padding: 0 var(--global-padding);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
}

.section__block-title {
  margin-bottom: 10px;
}

.accent-word {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.accent-word:hover {
  text-decoration: underline;
}

.accent-word:focus {
  outline: none;
}

.accent-word:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__note {
  font-weight: bold;
}

.without-bold {
  font-weight: normal;
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--images-gap);
}

.section-with-images > .title-decor {
  margin-bottom: var(--images-gap);
}

.section-with-images .title-decor {
  font-weight: bold;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: var(--margin-before-footer);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 25px 1fr 25px;
  justify-items: center;
  align-items: center;
  padding: var(--global-padding);
}

.footer::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-right: 1px solid var(--section-title-color);
  border-top: 1px solid var(--section-title-color);
  justify-self: end;
}

.footer::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--section-title-color);
  border-bottom: 1px solid var(--section-title-color);
  justify-self: start;
}

.footer-title {
  color: var(--header-and-footer-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: 116px;
  font-weight: bold;
  line-height: 83%;
}

@media (width >= 768px) {
  :root {
    --global-padding: 20px;
    --images-gap: 20px;
    --margin-after-header: 60px;
    --margin-before-footer: 60px;
  }

  .header {
    padding-left: 0;
  }

  .header__title {
    font-size: 120px;
    letter-spacing: 0;
  }

  .header__description-block {
    max-width: calc(50% - 10px);
  }

  .main {
    --main-gap: 80px;
  }

  .section:first-child, .section:nth-child(3) {
    grid-template-columns: 1fr 2fr;
  }

  .section:first-child .section__block, .section:nth-child(3) .section__block {
    grid-column: 2;
  }

  .section:nth-child(3) .section__title {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .section:nth-child(2) .section__title {
    inline-size: min-content;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
  }

  .image__sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .image__ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .image__tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .image__books {
    grid-column: 2;
    grid-row: 2;
  }

  .image__street {
    grid-column: 2/4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 25px 1fr min-content 1fr 25px;
    grid-template-columns: 25px 1fr 25px;
  }

  .header::before {
    grid-row: 1;
    grid-column: 3;
  }
  .header::after {
    grid-row: 5;
    grid-column: 1;
  }

  .header__title {
    font-size: 157px;
    grid-row: 3;
    grid-column: span 3;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    grid-column: 2;
    position: static;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description-block {
    grid-row: 4;
    grid-column: span 3;
  }

  .section:first-child, .section:nth-child(3) {
    column-gap: 10px;
  }

  .section:nth-child(2) .section__title {
    inline-size: 315px;
    grid-row: 1;
    grid-column: span 3;
  }

  .section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-title {
    font-size: 157px;
  }
}