/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 375px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  position: relative;
}

.header {
  display: grid;
  background-image: url('../images/cover-image-dark.png');
  padding: 10px;
  height: 100vh;
}

.header__rec {
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 40%;
  right: 9px;
  top: 8px;
  box-shadow: 0 0 4px var(--accent-color);
}

.header__rec::before {
  content: '';
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
  line-height: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  text-align: center;
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--header-and-footer-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: 116px;
  font-weight: bold;
  line-height: 83%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.header__description-block {
  justify-self: end;
  align-self: center;
}

.header__description {
  block-size: fit-content;
  font-weight: bold;
}

.header__description + .header__description {
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 5px 10px 0px;
}

.section__title {
  color: var(--accent-color);
}

.section__block-title {
  margin-bottom: 10px;
}

.accent-word {
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__note {
  font-weight: bold;
}

.section-with-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}