/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --line-height: 23.4px;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-and-footer-title : #DB00FF;
  --main-gap: 50px;
  --global-padding: 10px;
  --images-gap: 10px;
  --margin-after-header: 40px;
  --margin-before-footer: 40px;
}