/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --raspberry: #FF0070;

  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --line-height: 23.4px;
  --background-color: #000028;
  --title-docor-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: var(--raspberry);
  --section-title-color: var(--raspberry);
  --header-and-footer-title: #DB00FF;
  --main-gap: 50px;
  --global-padding: 10px;
  --images-gap: 10px;
  --margin-after-header: 40px;
  --margin-before-footer: 40px;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --display-rec: block;
  --bacground-image: url("../images/cover-image-dark.png");
}