/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-and-footer-title : #DB00FF;
}